[submodule "mak-rest-api"]
	path = mak-rest-api
	url = git@github.com:megumiteam/mak-rest-api.git
[submodule "media-assembly-kit-theme"]
	path = media-assembly-kit-theme
	url = git@github.com:megumiteam/media-assembly-kit-theme.git
[submodule "media-assembly-kit"]
	path = media-assembly-kit
	url = git@github.com:megumiteam/media-assembly-kit-theme.git
