<ul class="external-links">
	<li><a href="https://github.com/megumiteam/{{ place }}"><i class="fa fa-lg fa-github"></i> View on GitHub</a></li>
	<li><a href="https://github.com/megumiteam/{{ place }}/wiki"><i class="fa fa-lg fa-book"></i> View on Document</a></li>
	<li class="download"><a href="https://github.com/megumiteam/{{ place }}/zipball/master"><i class="fa fa-lg fa-download"></i> Download a .zip file</a></li>
	<li class="download"><a href="https://github.com/megumiteam/{{ place }}/tarball/master"><i class="fa fa-lg fa-download"></i> Download a tar.gz file</a></li>
</ul>