<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="assets/stylesheets/stylesheet.css">
</head>

<body>
<div id="header_wrap" class="outer">
	<header class="inner">
		<h1 id="project_title">{{ site.header.title }}</h1>
		<h2 id="project_tagline">{{ site.header.description }}</h2>
		<nav id="banner" role="navigation">
			<ul>
				<li><a href="http://media-assembly-kit.com/" target="_blank">View on Website <i class="fa fa-external-link-square fa-lg"></i></a></li>
				<li><a href="http://media-assembly-kit.com/demo/" target="_blank">View on Demo <i class="fa fa-external-link-square fa-lg"></i></a></li>
			</ul>
		</nav>
	</header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
<section id="main_content" class="inner">
	{{ content }}
</section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
	<footer class="inner">
		<p class="copyright">{{ site.header.title }} maintained by <a href="http://media-assembly-kit.com/" target="_blank">megumiteam</a></p>
	</footer>
</div>

</body>
</html>
